<launch>
  <arg name="node_name" default="chris_planner_node" />
  <arg name="planning_method" default="closest" />

  <node name="$(arg node_name)" pkg="chris_planner" type="chris_planner_node.py" output="screen">
    <param name="planning_method" value="$(arg planning_method)" />
  </node>
</launch>

