<launch>

	<!-- Argumentos configuráveis -->
	<arg name="map_file" default="$(find conf)/launch/hmi/maps/factory_map.yaml"/>
	<arg name="rviz_config" default="$(find conf)/launch/hmi/fdpo_simulation.rviz"/>
	<arg name="lidar_driver" default="ydlidar" doc="Escolha o driver de LiDAR: 'hlds' ou 'ydlidar'"/>
	<arg name="debug_pico_comm" default="false" doc="Mostrar logs de comunicação Pi4-Pico (pode poluir terminal)"/>
	<arg name="use_ekf" default="true" doc="Usar EKF localizer com beacons (se false, map=odom, só odometria)"/>
	<arg name="use_raw_odom" default="false" doc="Usar odometria pura (/odom) em vez de filtrada. Só funciona quando use_ekf=false"/>
	<arg name="use_ss_controller" default="false" doc="Usar state space controller (true) ou controlador original (false)"/>
	<arg name="use_hal" default="true"/>
	<arg name="use_navigation" default="true"/>
	<arg name="use_hmi" default="true"/>
	<arg name="use_rviz" default="false" doc="Ativar RViz automaticamente"/>

	<!-- HAL: Hardware Abstraction Layer (LiDAR, etc) -->
	<include if="$(arg use_hal)" file="$(find conf)/system/hal.xml">
		<arg name="lidar_driver" value="$(arg lidar_driver)"/>
		<arg name="debug_pico_comm" value="$(arg debug_pico_comm)"/>
	</include>

	<!-- Navigation: Localização e Controle de Navegação -->
	<include if="$(arg use_navigation)" file="$(find conf)/system/navigation.xml">
		<arg name="lidar_driver" value="$(arg lidar_driver)"/>
		<arg name="use_ekf" value="$(arg use_ekf)"/>
		<arg name="use_raw_odom" value="$(arg use_raw_odom)"/>
		<arg name="use_ss_controller" value="$(arg use_ss_controller)"/>
	</include>
    
	<!-- HMI: Interface Humano-Máquina (Mapa, RViz, etc) -->
	<include if="$(arg use_hmi)" file="$(find conf)/system/hmi.xml">
		<arg name="map_file" value="$(arg map_file)"/>
		<arg name="rviz_config" value="$(arg rviz_config)"/>
		<arg name="use_rviz" value="$(arg use_rviz)"/>
	</include>

</launch>
